* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;

  .all-wrapper {
    width: 80%;
    margin: 10% auto;
    text-align: center;

    img {
      border-radius: 100px;
      margin: 20px 0;
    }
  }

  .hero-wrapper {
    margin-bottom: 2rem;

    h1 {
      font-size: 1.3rem;
      letter-spacing: 0.3rem;
    }

    h2 {
      font-size: 1rem;
      letter-spacing: 0.3rem;
    }
  }

  .external-links {
    background-color: red;
    padding: 10px 0;
  }
}
